{% extends "base.html" %}
{% block content %}
<div  class = "center_piece">
	<div class="title">
		<h1>About Me</h1>
	</div>
	<div>
		<p>I've always wanted to be an artist. I enjoyed playing music, painting and doing crafts when I was little. I paint with oil pastels and watercolor. I will upload some of my works here later. I might be skillful and handy, but when it comes to doing business and feeding myself with it, I'm very bad about it. </p>

		<p>Recently I found that coding is actually a form of art, just in a logical shell. I'm taking online classes on python, algorithms, database and web framework. Hopefully I will land a job with these skills soon. I’m a fast learner. I’m very comfortable programming with Python and would like to become a full stack developer in the future.</p>
		
		<p>I'm self-disciplined, reliable, and have sharp eyes. As a hobby, I couldn't help pointing out and correcting any typos, grammar errors, etc., in a book, on TV, or outdoor advertisement board. Thanks to years of biological training, I stick to the rules and I'm good at finding and solving problems.</p>
		
		<p>I have a cat. Her name is Tinker Belle. I'm thinking to build a website for her, too. She is an orange tabby, 3 years old. She can do tricks. Twice a day, she has to shake left hand, right hand, and high-five with left hand then right hand to get food. She is also potty-trained, so no litter needed in the house.(We did need some this winter for the frozen driveway.) She knows how to push the doors open, and open them as long as they are not fully closed.</p>
	</div>
	<div id = "clickme">
		<a href="#resume" onclick="$('#resume').show(800); $('#clickme').hide();">
			<h1>click to see my resume</h1>
		</a>
	</div>

</div>


<div  class = "center_piece" id = "resume" style="display:none;">
	<div class="title">
		<h1>Ying Wang</h1>
	</div>
	<div class = "box">
		<h3>Projects</h3>
		<ul>
			<li><a href = "http://nodal-ivy-88401.appspot.com/">This webapp that you are looking at</a></li>
			<li><a href = "http://solar-nation-89120.appspot.com/" target="_blank">Simple Cipher</a></li>
			<li><a href = "http://www.codeskulptor.org/#user39_rEFHQLSWK8_13.py" target="_blank">2048</a></li>
			<li><a href = "http://www.codeskulptor.org/#user38_lf6NAL9PUb_3.py" target="_blank">Rice Rock (Asteroid)</a></li>
			<li><a href = "http://www.codeskulptor.org/#user38_JakDiWKGaP_1.py" target="_blank">Black Jack</a></li>
			<li><a href = "http://www.codeskulptor.org/#user38_D53ZH2zNrN_2.py" target="_blank">Memory</a></li>
			<li><a href = "http://www.codeskulptor.org/#user38_oPVHzTlQ9z_5.py" target="_blank">Pong</a></li>
			<li><a href = "http://www.codeskulptor.org/#user38_qMPiB5ql8p_1.py" target="_blank">Guess the number</a></li>
			<li><a href = "http://www.codeskulptor.org/#user38_ytPcoKwHzK_2.py" target="_blank">Stopwatch</a></li>
			<li><a href = "http://www.codeskulptor.org/#user37_uNfAWL3HiN_0.py" target="_blank">Rock-Paper-Scissors-Lizard-Spock</a></li>
		</ul>
		<p>Important Note: Most of the games were implemented in Codeskulptor. After clicking the link in here, just click the play button(triangle) on the upper left of the new page to start the game.</p>
	</div>
	<div class = "box">
		<h3>Skills & Expertise</h3>
		<ul class = "inline_list">
			<li>Python</li>
			<li>SQL</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>Javascript</li>
			<li>jQuery</li>
			<li>Git</li>
			<li>Ruby</li>
			<li>Photoshop</li>
		</ul>
	</div>
	<div class = "box">
		<h3>Education</h3>
		<div>
			<h4>Online tutorials and Massive Open Online Course (MOOC):</h4>
			<ul>
				<li><a href="http://codecademy.com" target="_blank">Codecademy.com</a>: HTML, CSS, JavaScript, jQuery, PHP, Python, Ruby (Finished all tutori-als/ exercises)</li>
				<li><a href="httP://gitimmersion.com" target="_blank">Gitimmersion.com</a>: git tutorials</li>
				<li><a href="https://www.coursera.org/course/webapplications" target="_blank">Web Application Architectures</a> (Coursera.org, finished 100% with Distinction) </li>
				<li><a href="https://www.coursera.org/course/interactivepython" target="_blank">An Introduction to Interactive Programming in Python</a> (Coursera.org, finished 100% with Distinction) </li>
				<li><a href="https://www.edx.org/course/introduction-computer-science-mitx-6-00-1x-0#.VQrghmTF8go" target="_blank">Introduction to Computer Science and Programming Using Python</a> (Edx.org, final grade 98%) </li>
				<li><a href="https://www.edx.org/course/introduction-computational-thinking-data-mitx-6-00-2x-0#.VQrgfWTF8go" target="_blank">Introduction to Computational Thinking and Data Science</a> (Edx.org, final grade 97%)</li>
				<li><a href="http://mooc.bhtafe.edu.au/" target="_blank">IP Subnetting</a> (MOOCs@BHI)</li>
				<li><a href="https://www.udacity.com/course/ud197" target="_blank">Intro to Relational Databases</a> (Udacity.com)</li>
				<li><a href="https://www.coursera.org/course/principlescomputing1" target="_blank">Principles of Computing</a> (Coursera.org)</li>
				<li><a href="https://www.udacity.com/course/ud036" target="_blank">Programming Foundations with Python</a> (Udacity.com)</li>
			</ul>
		</div>
		<div>
			<h4>Pennsylvania State University</h4>
			<p>Graduate study, Plant Biology Program, 2009 – 2012, GPA 3.86</p>
			<p>Related course: Bioinformatics</p>
		</div>
		<div>
			<h4>China Agricultural University</h4>
			<p>Bachelor of Biological Sciences, 2009, GPA 3.75</p>
			<p>Related courses:<br>C Programming Language<br>Basics of College Computer Engineering<br>Advanced Mathematics<br>Probability Theory and Mathematical Statistics
			</p>
			<p>Activities and Societies: Volunteer Leader of the College of Biological Sciences; Core member, investigator and newspaper editor of Psychological Society of the college.</p>
		</div>
	</div>
	<div class = "box">
		<h3>Honors and Awards</h3>
		<ul>
			<li>FEGR (Fund for Excellence in Graduate Recruiting) Award: Penn State Alumni Association Graduate Fellowship 2009</li>
			<li>Braddock Graduate Scholarship: Penn State Plant Biology Program 2009</li>
		<li>Outstanding Leadership Award, Excellent League Member, Outstanding Volunteer of the Year: CAU, College of Biological Sciences 2008</li>
		<li>Outstanding Leadership Award: CAU, College of Biological Sciences 2007</li>
	</ul>
	</div>
	<div class = "box">
		<h3>Languages</h3>
		<ul>
			<li>Chinese: Native proficiency</li>
			<li>English: Full professional proficiency</li>
		</ul>
	</div>
	<div class = "box">
		<h3>Interests</h3>
		<p>New technologies, Proofreading, Arts and Crafts</p>
	</div>
</div>

{% endblock %}